@import "macchiato.css";

* {
  font-family: "FiraMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: transparent;
  color: @text;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 0.5em;
}

.modules-left {
  margin-left: 1em;
}

.modules-right {
  margin-right: 1em;
}

#window,
#mpd,
#idle_inhibitor,
#wireplumber,
#power,
#clock,
#tray {
  padding: 0.2em 0.5em;
}

window#waybar.empty #window {
  background-color: transparent;
}

#net,
#power {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
}

#net .module,
#power .module {
  padding-right: 0.5em;
}

#workspaces.module {
  padding: 0;
}

#workspaces,
#window,
#idle_inhibitor,
#wireplumber.module,
#net,
#power,
#clock,
#tray {
  color: @text;
  background-color: @crust;
  border-radius: 5px;
}

#workspaces button {
  all: unset;
  color: @overlay0;
  border-radius: 5px;
  padding-left: 0.5em;
  padding-right: 0.9em;
}

#workspaces button:hover {
  background-color: @base;
}

#workspaces button.active {
  background-color: @base;
  color: @mauve;
}

#workspace button.urgent {
  background-color: #eb4d4b;
}

#clock {
  color: @maroon;
}

#wireplumber {
  color: @blue;
}

#network {
  color: @yellow;
}

#backlight {
  color: @teal;
}

#idle_inhibitor {
  margin-right: 12px;
  color: @red;
}

#idle_inhibitor.activated {
  color: #7cb342;
}

#battery {
  color: @green;
}
